#!/usr/bin/make -f

destdir=$(CURDIR)/debian/devtodo/

build: build-arch build-indep
build-arch: build-stamp
build-indep: build-stamp
build-stamp:
	ln -sf /usr/share/misc/config.sub config.sub
	ln -sf /usr/share/misc/config.guess config.guess
	autoreconf
	dh build
	touch build-stamp

override_dh_auto_build:
	cp /usr/bin/libtool ./
	dh_auto_build

clean:
	dh clean

install: build
	dh install
	rm $(destdir)/usr/bin/tdl $(destdir)/usr/share/man/man1/tdl.1.gz
	cp contrib/devtodo.bash-completion debian/
	dh_bash-completion

binary-indep: build install

override_dh_fixperms:
	dh_fixperms
	# for scripts.sh and scripts.tcsh
	chmod 644 $(CURDIR)/debian/devtodo/usr/share/doc/devtodo/examples/scripts.*sh

binary-arch: build install
	dh binary-arch

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
